body {

    background-color: magenta;
    padding: 10px;


}

input {
    height: 30px;
    width:300px;
    border-radius: 10px;
    text-align: center;
    margin:8px;
}

button {
    height: 30px;
    width:100px;
    border-radius: 10px;
}

#main {
    width:100%;




}
#img-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(300px, auto);
    grid-template-rows: auto;
    grid-auto-flow: row;
    background-color: pink;
    bottom: 0;


}

h1 {

font-family: 'Gloria Hallelujah', cursive;
    size: 30px;
    background-color: pink;
}

img {

    width:38%;
    display: block;
    left: 0;
    padding: 8px;



}

image {
    vertical-align: bottom;
    bottom: 0;
    display: inline-block;
}

#big-image-wrapper {

    width:100%;
    z-index: 100000;
    background-color: red;
}

#even-bigger-div {
    top:0;
    left: 0;
    width:100%;
    z-index: 12;
    background-color: blue;
    position: fixed;
}

.red-x {
color: red;
}

.big-x {
font-size: 70px;
text-align: center;
}

p {
    font-family: 'Gloria Hallelujah', cursive;
        size: 10px;
        background-color: magenta;
}
